{% load static %}
<html>
<head>
	<title>TypeRacer - Races</title>
</head>
<body>
	Races:
	<div id="races">
		<button id="create" type="button">Create</button>
		<ul id="races_ul">
			{% for race,players in race_players.items %}
				<li id="{{race.id}}">#{{race.id}} - <p style="display:inline;" id="{{race.id}}_players">{{players|length}}/{{race.max_players}}</p> ({{race.status}})</li>
				<a href="{% url 'typeRacer' race.id %}"><button type="button">Join</button></a>
			{% endfor %}
		</ul>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/races.js' %}"></script>
<html>
